
.header{
    @apply bg-slate-100
}
.header li{
    @apply mt-5
    md:mt-0
    md:mr-8
    text-xl
    text-stone-900
    hover:text-sufle
    ease-in
    duration-100
}

.active{
    @apply underline
    underline-offset-8
    decoration-wavy
    decoration-sufle
}
.logo a{
    @apply text-4xl 
    text-white 
    bg-sufle 
    font-bold 
    px-4  
    rounded-br-3xl 
    rounded-tl-3xl 
    leading-tight
    hover:text-white
}

    



