
.header{
    @apply bg-slate-100
    z-50
}
.header li{
    @apply mt-5
    md:mt-0
    md:mr-8
    text-lg
    lg:text-sm
    hover:text-custom-orange
}

.active{
    @apply underline
    underline-offset-8
    decoration-wavy
    decoration-custom-orange
}
.logo a{
    @apply text-4xl 
    text-white 
    bg-custom-orange
    font-bold 
    px-4  
    rounded-br-3xl 
    rounded-tl-3xl 
    leading-tight
    hover:text-white
}

    



